.order-table {
    border-collapse: collapse;
    width: 94%;
    margin-left: 3%;
    margin-right: 3%;
}

.order-table th, td {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

.order-table th {
    background-color: #f2f2f2;
}
